<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Display Settings</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <script src="{{ url_for('static', filename='js/boxicons.js') }}"></script>
<head>
    <!-- <div class="home"><a href="{{ url_for('index') }}"><i class='bx bx-home-alt'></i></a></div> -->
    <div class="back"><a href="{{ url_for('account') }}"><i class='bx bx-arrow-back'></i></a></a></div>
    <h1>Change Password</h1>
</head>

<body>

<div>
    <div class="newpass">
          <input name="currpw" id="currpw" class="changepassword" placeholder="Enter Your Current Password">
          <input name="newpw" id="newpw" class="changepassword" placeholder="Enter Your New Password">
          <input name="newpw1" id="newpw1" class="changepassword" placeholder="Re-enter Your New Password">
        </div>


    <div class="chngpwbtn">
        Change Password
    </div>

      <!-- <div>
          <input type="radio" name="displayMode" id="lightmode" class="mode">
          <label for="lightmode">Light Mode</label>
      </div> -->
  </div>  
</body>

